*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
header a:hover{
    text-decoration: underline;
}
ul{
    display: flex;
}
li{
    width: 80px;
    text-align: center;
    list-style: none;
}
li a{
    text-decoration: none;
}
img{
    max-width: 800px;
    margin-top: 25px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.side-bar .foto1{
    width: 400px;
    height: 200px;
    margin: 0.3px 0 20px 20px;
}
.side-bar .foto2{
    width: 400px;
    height: 200px;
    margin: 45px 0 20px 20px;
}
.side-bar .foto3{
    width: 400px;
    height: 200px;
    margin: 45px 0 20px 20px;
}
.side-bar .foto4{
    width: 400px;
    height: 200px;
    margin: 45px 0 20px 20px;
}
.side-bar p{
    display: flex;
    padding-top: 5px;
}
.principal{
    font-size: 26px;
    padding-top: 20px;
}