*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 60px;
    background-color: rgb(0, 213, 255);
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    width: 100px;
    text-align: center;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.grid{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
}
.box1{
    height: 500px;
    background-color: gray;
    display: flex;
    align-items: end;
}
.box1 > p{
    width: 100%;
    height: 20px;
    padding-top: 40px;
}
.box2{
    display: grid;
    row-gap: 45px;
}
.box2-1{
    background-color: gray;
    height: 220px;
    display: flex;
    align-items: end;
}
.box2-1 > p{
    height: 10px;
    padding-top: 15px;
}
.box2-2{
    background-color: gray;
    height: 220px;
    display: flex;
    align-items: end;
}
.box2-2 > p{
    height: 10px;
    padding-top: 15px;
}
.box2-3{
    background-color: gray;
    height: 220px;
    display: flex;
    align-items: end;
}
.box2-3 > p{
    height: 10px;
    padding-top: 15px;
}