@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
a, address, span{
    color: white;
}
header{
    background-color:  red;
    display: flex;
    align-items: center;
    padding: 20px  40px;
}
header img{
    border-radius: 100%;
    padding: 5px;
}
.topo nav li, a{
    display: inline;
    text-align: center;
    padding-left: 25px;
    text-decoration: underline;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
.titulo{
    text-align: center;
    padding: 15px 0 20px 0;
}
.form{
    border: 1px solid rgba(40, 37, 37, 0.448);
    height: 60vh;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 60px;
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
form .inputbox1 input{
    height: 4px;
    margin-top: 10px;
    padding: 12px 5px;
}
form .inputbox2 input{
    height: 4px;
    margin-top: 10px;
    padding: 12px 5px;
}
.form .inputbox3 select{
    width: 310px;
    margin-top: 10px;
    padding: 8px 5px;
}
form input{
    padding:20px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.307) ;
}
form textarea{
    width: 290px;
    border-radius: 10px;
    padding: 10px;
}
form input[type=submit]{
    background-color: red;
    margin-top: 40px;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 20px;
    padding: 0px;
}
footer{
    background-color: red;
}
footer nav ul li a{
    margin: 30px 10px;
    text-decoration: underline;
    font-size: 15px;
}
footer li{
    padding-top:10px;
}
footer address{
    margin: 0 10px;
    padding: 20px;
}
