*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
p{
    color: white;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
header a:hover{
    text-decoration: underline;
}
ul{
    display: flex;
}
li{
    width: 80px;
    text-align: center;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}
.content-left{
    background-color: red;
    margin:20px 20px;
    width: 600px;
    height: 600px;
    position: relative;
}
.content-left p{
    position: absolute;
    background-color: black;
    width: 100%;
    top: 581.5px;
}
.content-right img{
    max-height: 280px;
}
.content-right{
    display: flex;
    flex-direction: column;
    position: relative;
}
.content-right .foto1{
    margin: 20px;
    height: 280px;
}
.content-right .foto1 p{
    position: absolute;
    background-color: black;
    top: 281.5px;
    width: 560px;
}
.content-right .foto2{
    margin: 20px;
    height: 280px;
    width: 600px;
}
.content-right .foto2 p{
    position:absolute;
    background-color: black;
    top:601.5px;
    width: 560px;
}
    