*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 60px;
    background-color: rgb(0, 213, 255);
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    width: 100px;
    text-align: center;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.grid{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 80px;
}
.box1{
    background-color: gray;
    min-height: 250px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box1 > p{
    background-color: white;
    padding-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.box2{
    background-color: gray;
    min-height: 200px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box2 > p{
    background-color: white;
    padding-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.box3{
    background-color: gray;
    min-height: 200px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box3 > p{
    background-color: white;
    padding-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.box4{
    background-color: gray;
    min-height: 250px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box4 > p{
    background-color: white;
    padding-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.box5{
    background-color: gray;
    min-height: 250px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box5 > p{
    background-color: white;
    padding-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.box6{
    background-color: gray;
    min-height: 250px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box6 > p {
    background-color: white;
    padding-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}