*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 60px;
    background-color: rgb(0, 213, 255);
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    width: 100px;
    text-align: center;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
.grid{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    row-gap: 60px;
    column-gap: 80px;
}
.box1{
    background-color: gray;
    min-height: 250px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box1 > p{
    background-color: white;
    width: 100%;
    height: 20px;
    text-align: center;
    padding-top: 10px;
}
.box2{
    background-color: gray;
    min-height: 200px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box2 > p {
    background-color: white;
    width: 100%;
    height: 20px;
    text-align: center;
    padding-top: 10px;
}
.box3{
    background-color: gray;
    min-height: 200px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.box3 > p{
    background-color: white;
    width: 100%;
    height: 20px;
    text-align: center;
    padding-top: 10px;
}
.grid-pp{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
}
.grid-pp-box1{
    background-color: gray;
    height: 280px;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 6px solid black;
}
.grid-pp-box1 > p{
    background-color: white;
    width: 340px;
    text-align: center;
    padding-top: 10px;
} 
.grid-pp-box2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}
.grid-pp-box2 > div{
    background-color: gray;
    min-height: 100px;
    min-width: 200px;
}
.grid-pp-box2 > p{
    margin-top: 40px;
    text-align: center;
}
.grid-pp-box3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}
.grid-pp-box3 > div{
    background-color: gray;
    min-height: 100px;
    min-width: 200px;
}
.grid-pp-box3 > p{
    margin-top: 40px;
    text-align: center;
}
