*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 60px;
    background-color: rgb(0, 213, 255);
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    width: 100px;
    text-align: center;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.grid{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
.box1{
    background-color: gray;
    height: 600px;
    display: flex;
    align-items: end;
}
.box1 p{
    background-color: black;
    width: 100%;
    color: white;
    font-size: 22px;
    padding: 10px;
}
.box2{
    display: grid;
    row-gap: 40px;
}
.box2-1{
    background-color: gray;
    display: flex;
    align-items: end;
}
.box2-1 p{
    background-color: black;
    width: 100%;
    color: white;
    font-size: 22px;
    padding: 10px;
}
.box2-2{
    background-color: gray;
    display: flex;
    align-items: end;
}
.box2-2 p{
    background-color: black;
    width: 100%;
    color: white;
    font-size: 22px;
    padding: 10px;
}
